<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COCHES</title>
</head>
<body>
    
    <form action="{{ url_for("recibir_datos_gastos") }}" method="POST">
        <label for="gasolina">Que te gastas al mens en gasolina???</label>
        <input type="number" name="" id="gasolina">

        <label for="taller">Que pagas de Taller???</label>
        <input type="number" name="" id="taller">

        <label for="seguro">Que pagas de seguro???</label>
        <input type="number" name="" id="seguro">
        
        <label for="mes">Mes</label>
        <input type="text" id="mes" name="mes">

        <label for="anyo">Año</label>
        <input type="text" id="anyo" name="anyo">

        <button type="submit">ENVIAR</button>

    </form>



</body>
</html>