{% extends "base.html" %}
{% block content %}

<div class="">

    {% if errores %}
    <h3>{{ errores }}</h3>
    {% endif %}

    <H1>FORMULARIO DE REGISTRO</H1>

    <form action="{{ url_for("recibir_datos_registro") }}" method="post">
        USUARIO: <input type="text" name="usuario" value=""><br>
        PASSWORD: <input type="text" name="password" value=""><br>
        NOMBRE: <input type="text" name="nombre" value=""><br>
        <button type="submit">REGISTRARSE</button>
    </form>

</div>
<br>



{% endblock %}